<h1>Editing Award</h1>

<%= render 'form' %>

<%= link_to 'Show', @award %> |
<%= link_to 'All Awards', awards_path %> |
<%= link_to 'Delete', award_path(@award), data: { confirm: 'Are you sure?' }, method: :delete %>
