/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #84caf9;
	min-height:80px;
}

.content {
	margin: 30px;
	margin-top: 70px;
}

.logo {
	margin-left: 25px;
	font-size: 40px;
	padding-top: 30px;
	float: left;
}

.logo a {
	color: white;
}

.logo a:hover {
	color: #DBECFC;
}

nav {
	margin-right: 10px;
	margin-bottom: 30px;
	padding-top: 30px;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	float: right;
}

nav li a {
	text-decoration: none;
	color: white;
}

nav li a:visited {
	color: white;
}

nav li a:hover {
	color: #DBECFC;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
}

a:hover {
	background-color: transparent;
	color: black;
}

tr {
	background-color: #FFFFFF;
	color: black;
}

td {
	color: black;
}

.odd td {
	background-color: #F9F9F9;
}

.even td {
	background-color: #FFFFFF;
}

.clickable-row:hover td {
	background-color: #dbecfc;
}

.artist-image, .album-image {
	display: inline;
	max-width: 300px;
	margin: 10px;
}

input {
	margin-bottom: 12px;
	magin-top: 12px;
}

.dataTables_filter input {
	height: 30px;
	min-width: 300px;
	max-width: 750px;
	font-size: 20.28px;
	border-radius: 3px 0px 0px 3px;
	border-width: 0px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	-webkit-appearance: none;
	padding-left: 15px;
	color: #A3AAAE;
}

.dataTables_filter input:focus {
	outline: 0;
    color: #ee6123;
    background-color: #fef7f4;
    box-shadow: 0 0 0 1px rgba(238,97,35,.75),0 0 4px 2px rgba(238,97,35,.2),inset 0 1px 2px 0 rgba(238,97,35,.2);
}

.pretty_button {
	margin-top: 20px;
	border-radius: 3px 3px 3px 3px;
	color: white;
	background-color: #EE6123;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	font-size: 20px;
	line-height: 21px;
	display: inline-block;
	box-shadow: 0 0 0 1px #ee6123;
	border: 0;
	-webkit-appearance: none;
	outline: 0;
}

.pretty_button:hover {
	background-color: #f7733b;
	cursor: pointer;
	cursor: hand;
}

.styled_input {
	height: 30px;
	min-width: 300px;
	max-width: 750px;
	font-size: 20.28px;
	border-radius: 3px 0px 0px 3px;
	border-width: 0px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	-webkit-appearance: none;
	padding-left: 15px;
	color: #A3AAAE;
}

.styled_input:focus {
	outline: 0;
    color: #ee6123;
    background-color: #fef7f4;
    box-shadow: 0 0 0 1px rgba(238,97,35,.75),0 0 4px 2px rgba(238,97,35,.2),inset 0 1px 2px 0 rgba(238,97,35,.2);
}
